.slider h3,
.slider h5,
.students h3 {
    text-shadow: 3px 3px 4px rgb(16, 125, 226);
}
.parallax-container {
    height: 30%;
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.5 !important;
}
.students img {
    max-width: 100px;
    max-height: 120px;
    filter: dropshadow(1px 1px 1px rgba(0, 0, 0, 0.8));
    margin-top: 20px;
}
section, footer {
    padding: 20px 0;
}
.profile{
    height: 250px;
}
.gambar {
    margin-top: 30px;
}

